/* 一言样式 */
#daily-quote {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    z-index: 9999;
    max-width: 300px;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;
    /* animation-name: test; */
    /* animation-duration: 4s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: 4; */
    /* animation-direction: alternate; */
    /* animation-fill-mode: backwards; */
    /* animation-delay: 2s; */
    animation: myAni 2s linear;
}

/* #daily-quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc46;
    border-radius: 8px;
    cursor: pointer;
    animation: jindu 10s linear;
} */

@keyframes jindu {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#daily-quote:hover {
    opacity: 1;
}

@keyframes myAni {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}


#daily-quote p {
    margin: 0;
    font-style: italic;
}

#daily-quote small {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}

#loading {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    /* 外圈淡色 */
    border-top-color: #c2c0c073;
    /* 旋转的部分颜色 */
    border-radius: 50%;
    animation: spin 10s linear;
    /* 旋转动画 */
}

/* 旋转动画定义 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}